@font-face {
  font-family: 'inter';
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(3, 88, 97) 3% , rgb(2, 2, 114) 90% );
  color: white;
  height: 220vh;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meinDaten {

  color: rgb(4, 5, 5);
  border-radius: 9px;
  padding: 5px 45px;
  display: flex;
  justify-content: center;
  align-items: center;


}

h3 {
  font-size: 0.9em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2vh;
  width: 100%;
  background-color: rgb(27, 124, 169);
  border-radius: 18px;
  border: 20px solid rgb(27, 124, 169);
  color: black;
}


.divdiv2 {
  margin-top: 2px;
  margin-bottom: 0px;
}

.divdiv3 {
  margin-top: 0px;
  margin-bottom: 30px;

}

.divdiv4 {
  display: flex;
  align-items: flex-end;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: black;
  color: aliceblue;
  padding: 5px 30px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.divdiv4:hover {
  background-color: #e80eda;
}

.divdiv5 {
  display: flex;
}

input {
  border-radius: 9px;
}

.input-small {
  width: 80px;
  height: 30px;

}

select {
  border-radius: 9px;

}

p {
  font-size: 0.6em;
}

.h33 {
  font-size: 0.8em;
}

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


